.title {
  border-bottom: 2px solid #cccccc;
}

.title-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
}

input[type="number"],
[type="text"] {
  padding: 10px;
  margin-right: 20px;
  width: 30%;
  border-radius: 10px;
}

.add-button {
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  font-size: large;
}

.delete-button {
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
  font-size: large;
}

.add-button:hover {
  background-color: lightgray;
}

.delete-button:hover {
  background-color: lightgray;
}

.add-item {
  text-align: center;
  margin-top: 3rem;
}

.item-list {
  margin: 4rem;
  margin-bottom: 3rem;
}

input[type="checkbox"] {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}

.plus-button {
  font-size: 30px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.minus-button {
  font-size: 30px;
  border: none;
  cursor: pointer;
  background-color: white;
}



.total {
  font-family: 'Courier New', Courier, monospace;
  border-top: 2px solid #cccccc;
}

.total-items {
  margin-left: 7rem;
  margin-top: 20px;
}

.total-cash {
  margin-left: 7rem;
  margin-top: 5px;
}
